<li>
    <a class="accordion-toggle {{ menu_state }}" id="module_{{ module_name }}" href="#">
        <span class="fa fa-smile-o"></span>
        <span class="sidebar-title">{{ 'Toeslagen'|translate }}</span>
        <span class="caret"></span>
    </a>
    <ul class="nav sub-nav">
        <li>
            <a href="/custom/novumbri/toeslagen/huurtoeslag/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Huurtoeslag'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumbri/toeslagen/kindgebonden_budget/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Kindgebonden budget'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumbri/toeslagen/zorgtoeslag/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Zorgtoeslag'|translate }}
            </a>
        </li>
        <li>
            <a href="/custom/novumbri/toeslagen/kinderpovangtoeslag/overview">
                <span class="fa fa-file-text-o"></span>
                    {{ 'Kinderopvangtoeslag'|translate }}
            </a>
        </li>
    </ul>
</li>